header {
    background-color: #F9D0A3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
}

header img {
    max-height: 120px;
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

nav a {
    font-size: 1.5rem;
    font-family: 'Comfortaa', sans-serif;
    color: #151217;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #DA001E;
}