footer {
    background-color: #F9D0A3;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_networks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social_networks img {
    width: 24px;
    height: 24px;
}

.social_networks a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

small {
    font-family: 'Comfortaa', sans-serif;
    color: #151217;
}