@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('/public/fonts/Bubblebody\ Neue/') format('truetype');
    font-weight: thin;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/public/fonts/Comfortaa/Comfortaa-SemiBold.ttf') format('truetype');
}

body, .container {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
}

main{
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

