h1, h2 {
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Bubbleboddy Neue', sans-serif;
}

h1 {
    color: #da001e;
}

h2 {
    color: #fdd90b;
    text-decoration: underline;
    padding-bottom: 10px;
}

div {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
    font-family: 'Comfortaa', sans-serif;
    color: #151217;
    text-align: justify;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#price {
    text-decoration: underline;
    font-weight: bold;
}

img {
    max-height: 250px;
}
