<main class="main">
    <div class="content">
        <h1>Page Produit</h1>

        <div class="product-details" *ngIf="productDetails">
            <h2>{{ productDetails.name }}</h2>

            <img [src]="productDetails.imageUrl" [alt]="productDetails.name" />

            <p class="description">{{ productDetails.description }}</p>

            <p id="price">
                Prix : {{ productDetails.price | currency:'EUR' }}
            </p>
        </div>

        <div class="product-link">
            <a routerLink="/" class="btn-products">
                Retour à la liste des produits
            </a>
        </div>
    </div>
</main>