@font-face {
    font-family: 'Bubbleboddy Neue';
    src: url('/public/fonts/Bubblebody\ Neue/') format('truetype');
    font-weight: thin;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/public/fonts/Comfortaa/Comfortaa-SemiBold.ttf') format('truetype');
}

/* Styles pour les titres */
h1, h2, h3 {
    font-family: 'Bubbleboddy Neue', sans-serif;
}

h1 {
    color: #da001e;
    margin: 20px;
    padding-top: 20px;
}

h2 {
    color: #fdd90b;
    text-align: center; 
    margin-bottom: 20px; 
    padding: 20px;
}

h3 {
    color: #F9D0A3 ;
    text-decoration:underline #F9D0A3;
}

h3:hover {
    color: #da001e;
}
.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Conteneur des produits */
.product-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /*Ecartement produits égal*/
    gap: 20px; /* Espacement entre les produits */
    padding: 10px;
    margin-bottom: 20px;
}



/* Style pour les images */
.product img {
    max-width: 150px; /* Taille maximale de l'image */
    height: auto;
    padding: 10px;
}

.product p {
    display: flex;
    justify-content: center;
    font-family: 'Comfortaa', sans-serif;
    color: #151217;
    text-decoration: underline #151217;
    font-weight: bold;
    
}

.product h3 {
    display: flex;
    justify-content: center;
    font-family: 'Bubbleboddy Neue', sans-serif;
}


p {
    font-family: 'Comfortaa', sans-serif;
    color: #151217;
    text-align: justify;
    padding-top: 10px;
    margin: 20px;
}


